*{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(300deg, #15ebb6 , #102ff8,  #0effe3 );
    /* background-size: 180% 180%; */
    animation: gradient-animation 18s ease infinite;  
    height: 100vh;
    width: 100vw;  
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#container{
    background-color: #7AA2E3;
    border: 2px solid black;
    position: relative;
    top: 20px;
    left: 15vw;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 90vh;
}

#user_info{
    display: grid;
    padding: 10px 0px 10px 50px;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 13vw;
}

#contact_info{
    display: grid;
    padding: 10px 0px 10px 50px;
    grid-template-columns: 10vw 10vw;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 13vw;
}

#about_me{
    padding-left: 50px;
    padding-top: 10px;
}

input{
    width: 15vw;
    height: 3.5vh;
}

input,textarea{
    background-color: #9BB0C1;
    font-size: large;
}

#save{
    background-color: #41B06E;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: large;
    position: relative;
    bottom: -20px;
    left: -50px;
}

#skip{
    background-color: #8576FF;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: large;
    position: absolute;
    bottom: -20px;
    right: -50px;
}

#save:hover{
    background-color: #74E291;
    transform: scale(1.05,1.05);
}

#skip:hover{
    background-color: #5755FE;
    transform: scale(1.05,1.05);
}

form{
    position: absolute;
    left: 300px;
}

#img_container{
    width: 250px;
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
}

#img{
    background-color: #9BB0C1;
    width: 250px;
    height: 250px;
}